h1 Hearings

ul
  - @hearings.each do |possible_hearing_date|
    li
      h2
        | Possible Hearing Date: 
        = link_to possible_hearing_date do
          = possible_hearing_date.date.strftime("%A, %B %d, %Y")

      - if possible_hearing_date.snapshots.any?
        ul style="display: flex; list-style: none"
          - possible_hearing_date.snapshots.each do |snapshot|
            li style="margin: 10px"
              = link_to snapshot.url.gsub('.png',''), style: "display: flex; flex-direction: column" do
                | Snap from 
                = snapshot.created_at.strftime("%b %-d, %Y")
                - if snapshot.html&.blank?
                  |  (blank)
                = image_tag snapshot.url, width: 100



      - else
        p No data yet detected at the judiciary URL for this date.
