h1
  | Possible Hearing Date 
  = @possible_hearing_date.date.strftime("%A, %B %d, %Y")

  ul style="list-style: none; margin: 20px"
    - @possible_hearing_date.snapshots.each do |snapshot|
      li
        = link_to snapshot.url.gsub('.png',''), style: "display: flex; flex-direction: column" do
          | Snap from 
          = snapshot.created_at.strftime("%b %-d, %Y")
          - if snapshot.html&.blank?
            |  (blank)
          = image_tag snapshot.url, width: 300
